@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0e0e0e;
  --text-color: #b0b0b0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #ffffff;
  }
}

::selection {
  background: #626262;
  color: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    -apple-system, "system-ui", "SF Pro Text", "SF Pro Display",
    "Helvetica Neue", Arial, sans-serif;
  line-height: 22px;
}

a {
  color: #fff;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: #626262b3;
  bottom: -2px;
  left: 0;
  transition: all 0.3s ease-in-out;
}

a:hover::after {
  background-color: #fff;
}

.no-link-style {
  color: inherit;
}

.no-link-style::after {
  display: none;
}
